HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
API_USAGE_GUIDE.md
COMPLETION_CHECKLIST.md
PROJECT_SUMMARY.md
QUICK_START.md
/test
#1)	前端模块化脚手架的搭建：
#2)		前端通用模块的开发：
#3)
#4)	
